<h1> Welcome to RPS </h1>

<form action="/login_info" method="post"> 
	<label>Username</label>
	<input type="text" name="username">
	<label>Password</label>
	<input type="text" name="password">
	<input type="submit">
</form>

<a href="/sign_up">Sign up</a>